.toolbar {
  font-family: sans-serif;
  padding: 0.25rem 0.5rem;
  background-color: #24283b;
  color: #f5f5fa;
  display: flex;
  justify-content: space-between;
}

.menu {
  background: #fff;
  color: #24283b;
  margin: auto;
  margin-top: 0.8rem;
  padding: 0.8rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.2s ease, opacity 0.2s ease, visibility 0s linear 0.2s;
  will-change: transform;
  text-align: left;
  position: absolute;
  width: fit-content;
  right: 0;
  z-index: 2;
}

.menu.visible {
  transform: translateY(-0.3rem);
  transition: transform 0.2s ease, opacity 0.2s ease, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.section_heading {
  text-transform: uppercase;
  opacity: 0.8;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.section_list {
  padding: 0;
  margin: 0;
}

.hostItem {
  list-style-type: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hostItem.current {
  background-color: #fef7d4;
}

.hostItem a {
  padding-right: 2rem;
}

.hostItem:hover {
  background-color: #f0f0f5;
}

.spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: #333;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
